body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    display: flex;
    max-width: 12000px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 26%;
    background-color: #eceaea;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-logo {
    width: 40px;
}

.written-logo {
    width: 120px;
}

.profile {
    text-align: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.profile h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.profile p {
    color: gray;
    margin-bottom: 15px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 14px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: start; 
    padding: 0 20px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0px 0;
    width: 100%; 
}

nav ul li {
    display: flex;
    align-items: center;
    padding: 18px 0; 
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 16px; 
}

.menu-icon {
    width: 24px; 
    height: 24px;
    margin-right: 12px;
}

nav ul li.active a {
    color: #FD1D1D; 
    font-weight: bold;
}

nav ul li.active a img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(100%) saturate(4561%) hue-rotate(349deg) brightness(101%) contrast(104%);
}




.main-content {
    width: 75%;
    padding: 25px 60px;
    box-sizing: border-box;
    overflow-y:hidden;
}


.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.search_bar{
    justify-content: center;
    display: flex;
    background-color: #eceaea;
    padding: 8px;
    border-radius: 12px;
}
.top-nav input[type="text"] {
    border: none;
    background: transparent;
}

.icons {
    display: flex;
    align-items: center;
}

.icons .icon {
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}


.add-photo-button {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #f79e42, #f06d7a);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-photo-button svg {
    margin-right: 10px;
    fill: white;
}

.stories {
    margin-bottom: 20px;
}

.story-list {
    display: flex;
    overflow-x: auto;
}

.story {
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;

}

.image-container {
    position: relative; 
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .background-image {
    width: 80px;
    height: auto;
  }
  
  .overlay-image {
    position: absolute;
    top: 50px;
    left: 53px;
    width: 25px;
    height: auto;
  }

 .feed {
    column-count: 3;
    column-gap: 10px;
    column-width: 250px; 
    padding-left: 20px; 
    padding-right: 20px; 
}

.post {
    width: 261px;
    /* background-color: white; */
    /* border-radius: 8px; */
    /* overflow: hidden; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin: 10px 0; 
    break-inside: avoid;
    padding: 0;
}


.post img {
    /* width: 80%; */
    height: auto;
    display: block;
}

.post-actions {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 5px;
    flex-direction: row;
    /* gap: 20px;  */
    
}
.left_button{
    display: flex;

}
.left_button .icon{
    margin: 0 2px;
}

.post-actions .icon {
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0;
}

.post-actions .icon:hover {
    color: #ff385c;
}

    